<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101077635-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-101077635-4');
  </script>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<div id="wrapper">
  <div id="left">
    <h1>Simple event sourcing ToDo App</h1>
    <h3>Sample code from <a href="https://github.com/serialized-io/samples-todo-js" target="_blank">https://github.com/serialized-io/samples-todo-js</a></h3>
  </div>
  <div id="right">
    <a href="https://serialized.io" target="_blank">
      <img style="width: 180px; height: auto;" src="https://www.serialized.io/images/logo.png">
    </a>
  </div>
</div>

{{{body}}}
</body>
</html>
